@import "vars";

.atom--explainer {
    padding: $baseline / 2 $gutter / 4;
    background-color: $guardian-brand;
    color: #ffffff;
    position: relative;
    ol, p, ul {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 $baseline / 2;
    }
}

.atom--explainer__header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    min-height: 24px;
    padding-bottom: $baseline * 1.5;
}

// specificity required to override link styling

figure.element-atom .atom-explainer a.underline-u {
    color: #ffffff;
    &:hover {
      color: #A8D8F2; //not in vars
    }
}