{
  "presets": [
    "@babel/preset-flow",
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}