@()

@fragments.atoms.css.snippet()

.atom--snippet__body {
    margin-left: 8px;
    overflow: visible;
}

.atom--snippet__item {
    padding-left: 17px;
    border-left: 1px solid --var(--neutral-2)7f;
}

.atom--snippet__event-date::before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 100%;
    float: left;
    margin-left: -26px;
    background-color: var(--neutral-2);
}

.atom--snippet__event-date {
    font-size: 18px;
}

