@import "vars";
@import "mq";
@import "atoms/buttons";
@import "atoms/forms";
@import "atoms/ui";
@import "helpers/multiline";
@import "helpers/scale";

.atom--readerquestions {
  @include multiline(4, $neutral-4);
  background: $neutral-7;
  padding: 0 $gutter / 4;
}

.atom--readerquestions .atom--readerquestions__heading {
  @include headline(3);
  font-family: var(--f-serif-headline);
  font-weight: 500;
  margin-bottom: 0;

  .garnett--pillar-news      &,
  .content--pillar-news      & { color: $c-pillar--news; }
  .garnett--pillar-arts      &,
  .content--pillar-arts      & { color: $c-pillar--arts; }
  .garnett--pillar-sport     &,
  .content--pillar-sport     & { color: $c-pillar--sport; }
  .garnett--pillar-opinion   &,
  .content--pillar-opinion   & { color: $c-pillar--opinion; }
  .garnett--pillar-lifestyle &,
  .content--pillar-lifestyle & { color: $c-pillar--lifestyle; }
}

.atom--readerquestions .atom--readerquestions__description {
  margin: $baseline / 2 0;
}

.atom--readerquestions__rows {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.atom--readerquestions__question {
  padding: $baseline / 2 $gutter / 4;
  margin: 0 (-$gutter / 4);
  display: flex;
  justify-content: space-between;
  text-align: left;

  background: transparent;
  border: 0;
  border-top: 1px solid $neutral-3;

  &:last-child {
    border-bottom: 1px solid $neutral-4;
  }

  &:hover, 
  &:focus, 
  &:active {
    background: #fcfcfc;
  }
}

.atom__button {
  .atom--readerquestions__question &,
  .atom--readerquestions__form & {
    font-family: var(--f-sans-serif-text);
    font-size: 14px;
    font-weight: 900;
    line-height: 18px;
    height: 28px;
    padding: 0 $gutter / 2;
    
    background: $neutral-1;
    color: white;
  }
  
  .atom--readerquestions__question:hover &,
  .atom--readerquestions__question:focus &,
  .atom--readerquestions__question:active &,
  .atom--readerquestions__form &:hover,
  .atom--readerquestions__form &:focus,
  .atom--readerquestions__form &:active {
    .garnett--pillar-news      &,
    .content--pillar-news      & { background-color: $c-pillar--news; }
    .garnett--pillar-arts      &,
    .content--pillar-arts      & { background-color: $c-pillar--arts; }
    .garnett--pillar-sport     &,
    .content--pillar-sport     & { background-color: $c-pillar--sport; }
    .garnett--pillar-opinion   &,
    .content--pillar-opinion   & { background-color: $c-pillar--opinion; }
    .garnett--pillar-lifestyle &,
    .content--pillar-lifestyle & { background-color: $c-pillar--lifestyle; }
  }
}

.atom--readerquestions__questionlabel {
  flex: 1;
  font-weight: bold;
}

.atom--readerquestions__questionask {
  margin-left: $gutter / 4;
  align-self: flex-end;
}

.atom__view--padded {
  padding-bottom: $baseline;

  .atom--readerquestions__description:last-child {
    margin-bottom: 0;
  }
}

.atom__form-field {
  > input {
    flex: 1;
    max-width: 20em;

    border: none;
  }
}