@()

<table class="atom--snippet__footer" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td width="10"></td>
    <td width="580">
      @* TODO | URLs for subscriptions and view in browser *@
      <a href="#">Manage your emails</a> | <a href="#">Trouble viewing?</a>
    </td>
    <td width="10"></td>
  </tr>
  <tr>
    <td width="10"></td>
    <td width="580">
      <p>You are receiving this email because you are a subscriber to the Awesome Readers Questions mailing list. We will send you emails <b>all the time</b>, even when you sleep. You should <b>never</b> have given us your email address. Hahaha rock'n'rollllllllllll!</p>
    </td>
    <td width="10"></td>
  </tr>
</table>