@(atom: com.gu.contentatom.thrift.Atom, className: String, label: String, headline: String)(body: Html)(implicit conf: com.gu.contentatom.renderer.EmailConfiguration)

@snippetHeader(atom)

<table cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td width="10"></td>
    <td width="580">
      <p>We have an answer for you. Earlier you voted for one of three questions. We now have an answer to the most popular question.</p>
    </td>
    <td width="10"></td>
  </tr>
  <tr>
    <td width="10"></td>
    <td width="580">
      <div class="atom--snippet__label">@label</div>
      <div class="atom--snippet__headline">@headline</div>
      <div class="atom--snippet__body">@body</div>
    </td>
    <td width="10"></td>
  </tr>
  <tr class="atom--snippet__footer">
    <td width="10"></td>
    <td width="580" class="atom--snippet__feedback">
      <span>Was this helpful?</span>
      @* TODO | Transactional URLs for thumbs up/down *@
      <a href="#" class="atom__button atom__button--round" value="like" aria-label="Yes">@fragments.icons.html.thumb()</a>
      <a href="#" class="atom__button atom__button--round" value="dislike" aria-label="No">@fragments.icons.html.thumb()</a>
    </td>
    <td width="10"></td>
  </tr>
</table>

@snippetFooter(atom)