@(id: String, className: String, label: String, headline: String)(body: Html)

<details data-snippet-id="@id" data-snippet-type="@className" class="atom atom--snippet atom--snippet--@className">
  <summary class="atom--snippet__header">
    <span class="atom--snippet__label">@label</span>
    <h4 class="atom--snippet__headline">@headline</h4>
    <button class="atom__button atom__button--large atom__handle atom__button--stateful" aria-hidden="true">
      <span class="is-on">Show</span>
      <span class="is-off">Hide</span>
    </button>
  </summary>
  <div class="atom__body">
    @body
  </div>
  <footer class="atom--snippet__footer">
    <div class="atom--snippet__feedback">
      <div>Was this helpful?</div>
      <button class="atom__button" value="like" aria-label="Yes">Yes</button>
      <button class="atom__button" value="dislike" aria-label="No">No</button>
    </div>
    <div class="atom--snippet__ack" hidden aria-role="alert" aria-live="polite">
      Thank you for your feedback.
    </div>
  </footer>
</details>
