@(atom: com.gu.contentatom.thrift.Atom)(implicit conf: com.gu.contentatom.renderer.EmailConfiguration)

<table class="atom--snippet__footer" width="600" cellspacing="0" cellpadding="20" border="0">
  <tr>
    <td>
      <a href="@conf.userProfileUrl">Manage your emails</a> | 
      <a href="@conf.unsubscribeUrl">Unsubscribe</a> | 
      <a href="@conf.supportTheGuardianUrl">Support us</a> | 
      <a href="@conf.viewInBrowserUrl">Trouble viewing?</a>
    </td>
  </tr>
  <tr>
    <td class="legalese">
      <p>You are receiving this email because you subscribed to a readers question. Guardian News &amp; Media Limited - a member of Guardian Media Group PLC. Registered Office: Kings Place, 90 York Way, London, N1 9GU. Registered in England No. 908396</p>
    </td>
  </tr>
</table>