@(atom: com.gu.contentatom.thrift.Atom, className: String, label: String, headline: String)(body: Html)(implicit conf: com.gu.contentatom.renderer.EmailConfiguration)

@snippetHeader(atom)

<table cellspacing="0" cellpadding="10" border="0">
  <tr>
    <td width="580">
      <p>Earlier you voted for one of three questions. We now have an answer to the most popular one for you.</p>
    </td>
  </tr>
</table>
<table class="atom--snippet__main" cellspacing="0" cellpadding="10" border="0">
  <tr>
    <td width="580">
      <h1 class="atom--snippet__label">@label</h1>
      <h1 class="atom--snippet__headline">@headline</h1>
    </td>
  </tr>
  <tr>
    <td width="580" class="atom--snippet__body">@body</td>
  </tr>
</table>
<table cellspacing="0" cellpadding="10" border="0">
  <tr>
    <td width="580">
      <p>We want to help our readers make sense of complex stories and answering their questions is a great way to do so. But producing quality, independant journalism takes a lot of time, money and hard work. If you value our answers and reporting, support us now and help make our future more secure.</p>
    </td>
  </tr>
  <tr>
    <td width="580" align="center">
      <a class="atom__button atom__button--rounded">Become a supporter</a>
    </td>
  </tr>
</table>

@snippetFooter(atom)