@(atom: com.gu.contentatom.thrift.Atom, className: String, label: String, headline: String)(body: Html)(implicit conf: com.gu.contentatom.renderer.EmailConfiguration)

@snippetHeader(atom)

<table cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td width="10"></td>
    <td width="580">
      <p>Earlier you voted for one of three questions. We now have an answer to the most popular one for you.</p>
    </td>
    <td width="10"></td>
  </tr>
  <tr>
    <td width="10"></td>
    <td width="580" class="atom--snippet__label">@label</td>
    <td width="10"></td>
  </tr>
  <tr>
    <td width="10"></td>
    <td width="580" class="atom--snippet__headline">@headline</td>
    <td width="10"></td>
  </tr>
  <tr>
    <td width="10"></td>
    <td width="580" class="atom--snippet__body">@body</td>
    <td width="10"></td>
  </tr>
</table>

@snippetFooter(atom)