@(atom: com.gu.contentatom.thrift.Atom, className: String, label: String, headline: String)(body: Html)(implicit conf: com.gu.contentatom.renderer.EmailConfiguration)

@snippetHeader(atom)

<table cellspacing="0" cellpadding="10" border="0">
  <tr>
    <td width="580">
      <p>Earlier you voted for one of three questions. We now have an answer to the most popular one for you.</p>
    </td>
  </tr>
</table>
<table class="atom--snippet__main" cellspacing="0" cellpadding="10" border="0">
  <tr>
    <td width="580">
      <h1 class="atom--snippet__label">@label</h1>
      <h1 class="atom--snippet__headline">@headline</h1>
    </td>
  </tr>
  <tr>
    <td width="580" class="atom--snippet__body">@body</td>
  </tr>
</table>

@snippetFooter(atom)