@import "vars";
@import "helpers/multiline";
@import "helpers/scale";

.atom--audio {
    @include multiline(4, $neutral-4);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background: $neutral-7;
    position: relative;
    padding: 0 ($gutter / 4) ($baseline / 2);
    margin: ($baseline * 4 / 3) 0 ($baseline * 3);

    .atom--audio__button-playaudio {
      background: transparent;
      .icon--play-button-svg {
        display: inline;
      }
      .icon--pause-button-svg {
        display: none;
      }
    }

    .atom--audio__button-playaudio.is-playing {
      .icon--play-button-svg {
        display: none;
      }
      .icon--pause-button-svg {
        display: inline;
      }
    }

}

.atom--audio a {
    color: $news-main-1;
    border-bottom-color: $neutral-3;
}

.atom--audio__label {
    display: block;

    .garnett--pillar-news      &,
    .content--pillar-news      & { color: $c-pillar--news; }
    .garnett--pillar-arts      &,
    .content--pillar-arts      & { color: $c-pillar--arts; }
    .garnett--pillar-sport     &,
    .content--pillar-sport     & { color: $c-pillar--sport; }
    .garnett--pillar-opinion   &,
    .content--pillar-opinion   & { color: $c-pillar--opinion; }
    .garnett--pillar-lifestyle &,
    .content--pillar-lifestyle & { color: $c-pillar--lifestyle; }
}

.atom--audio__label,
.atom--audio__headline {
    @include headline(3);
    font-family: var(--f-serif-headline);
    font-weight: 500;
}

.atom--audio__body {
    overflow: hidden;
}

.atom--audio__body > p::before {
    background-color: $news-support-2;
}
