.atom__button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: 0;
  margin: 0;

  > .icon {
    fill: currentColor;
  }
}

.atom__button--large {
  height: 2.25em;
}

.atom__button--bordered {
  border-width: 1px;
  border-style: solid;
}

.atom__button--round {
  border-radius: 100%;
}

.atom__button--rounded {
  border-radius: 100em;
}

.atom__button--rounded-left {
  border-top-left-radius: 100em;
  border-bottom-left-radius: 100em;
}

.atom__button--rounded-right {
  border-top-right-radius: 100em;
  border-bottom-right-radius: 100em;
}